<div class="board-isolated">
  <TopHeader></TopHeader>
  <header class="board-isolated__header">
    <h2 class="board-isolated__title" data-test-board-isolated-title>
      {{content.title}}
    </h2>
  </header>

  <div class="board-isolated__articles">
    {{#each content.articles as |article index|}}
      <div class="board-isolated__article--container" data-test-board-isolated-article={{index}}>
        {{cardstack-content content=article format="embedded"}}
      </div>
    {{/each}}
  </div>
</div>
