<div class="board-isolated">
  <h1 data-test-board-isolated-title>{{content.title}}</h1>
  {{#each content.articles as |article index|}}
    <div data-test-board-isolated-article={{index}}>
      {{cardstack-content content=article format="embedded"}}
    </div>
  {{/each}}
</div>
