<div class="field-editor--string-text-area">
  <textarea
    disabled={{disabled}}
    oninput={{action (mut (get content field)) value="target.value"}}
    onblur={{action onchange}}
  >{{get content field}}</textarea>
</div>