.board-isolated {
  margin: 0;
  --board-isolated-header-gradient: linear-gradient(-133deg, #5D2680 0%, #266580 100%), #343356;
}

.board-isolated__title {
  max-width: var(--cardboard-isolated-container-max-width);
  margin: 0 auto;
  font-size: 32px;
  letter-spacing: -0.21px;
  line-height: 18px;
}

.board-isolated__header {
  background: var(--board-isolated-header-gradient);
  color: var(--cardboard-white);
  padding: 50px 25px;
}

.board-isolated__articles {
  max-width: var(--cardboard-isolated-container-max-width);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding-top: 25px;
  margin: 60px auto;
}