@import "article-embedded";
@import "article-isolated";

/* custom article field editor styles */
.cs-field-editor-published-date--published-date {
  margin-left: 1rem;
}
.field-editor--string-text-area textarea {
  width: 100%;
  min-height: 5rem;
}