.article-isolated {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.article-isolated--cover-image.cardstack-image-placeholder {
  background-size: contain;
}

.article-isolated--cover-image {
  margin-top: 4rem;
  width: 100%;
  min-height: 20rem;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
