.cs-field-editor-section.cs-field-slug {
  padding-top: 2rem;
}
.cs-field-editor-section.cs-field-slug .field-editor {
  display: flex;
  align-items: center;
}
.cs-field-editor-section.cs-field-slug input[type="text"] {
  margin-bottom: 0;
}
.cardboard-field-slug--sample-url-prefix {
  margin-right: 2px;
  font-size: .75rem;
  opacity: .3;
}