<div class="article-isolated">
  <div class="article-isolated--cover-image">{{cs-field content "coverImage"}}</div>
  <h1 data-test-article-isolated-title>{{content.title}}</h1>
  <div data-test-article-isolated-body>
    {{content.body}}
  </div>
</div>
